* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fl {
  float: left;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #86b6b6;
  overflow: hidden;
  font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
}
.container .music_icon {
  position: absolute;
  top: .4rem;
  right: .4rem;
  width: .7rem;
  height: .7rem;
  background: url('../img/music.svg');
  background-size: contain;
  animation: turn 2s linear infinite;
  animation-play-state: paused;
  z-index: 50;
}
.container .progress_bar {
  position: fixed;
  bottom: .01rem;
  z-index: 5;
  width: 100%;
  height: .05rem;
  background: rgba(0, 0, 0, 0.2);
}
.container .progress_bar .currentBar {
  width: 20%;
  height: .05rem;
  background: #08a1ef;
}
.container .arrow_prev {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: .5rem;
  height: .4rem;
}
.container .arrow_prev .pre_wrap {
  height: 100%;
  position: relative;
  animation: start 1.5s ease-in-out infinite;
}
.container .arrow_prev .pre_wrap .pre_box1,
.container .arrow_prev .pre_wrap .pre_box2 {
  width: 50%;
  height: 100%;
  position: absolute;
  left: .07rem;
  overflow: hidden;
}
.container .arrow_prev .pre_wrap .pre_box1 .pre1,
.container .arrow_prev .pre_wrap .pre_box2 .pre1,
.container .arrow_prev .pre_wrap .pre_box1 .pre2,
.container .arrow_prev .pre_wrap .pre_box2 .pre2 {
  background-color: #fff;
  width: 100%;
  height: .1rem;
  border-radius: .02rem;
  position: absolute;
  top: .1rem;
  box-shadow: 0.01rem -0.01rem 0.01rem #646464;
}
.container .arrow_prev .pre_wrap .pre_box1 .pre1 {
  transform: rotate(-50deg);
}
.container .arrow_prev .pre_wrap .pre_box2 {
  left: .18rem;
}
.container .arrow_prev .pre_wrap .pre_box2 .pre2 {
  transform: rotate(50deg);
}
.container .swiper-container {
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide {
  overflow: hidden;
}
.container .swiper-container .swiper-slide .light {
  position: relative;
  z-index: 2;
}
.container .swiper-container .swiper-slide .light.animate {
  animation: 1s ease 0s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide h1 {
  position: absolute;
  right: .4rem;
  top: 1.5rem;
  color: #127a6e;
  font-size: 1rem;
  font-weight: normal;
  z-index: 2;
}
.container .swiper-container .swiper-slide h1.animate {
  animation: 2s ease .5s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide p.motto {
  position: absolute;
  right: .6rem;
  top: 3.1rem;
  color: #000;
  font-size: .34rem;
  z-index: 2;
}
.container .swiper-container .swiper-slide p.motto.animate {
  animation: 1s ease 1s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide .line {
  position: absolute;
  left: 5.4rem;
  top: 3.6rem;
  z-index: 2;
  width: 2rem;
  height: .9rem;
}
.container .swiper-container .swiper-slide .line div {
  width: 100%;
  height: 100%;
  left: 5.4rem;
  top: 3.6rem;
}
.container .swiper-container .swiper-slide .line div.animate {
  animation: 1s ease 1.5s 1 normal both running twisterInUpRight;
}
.container .swiper-container .swiper-slide .line div img {
  position: relative;
  right: -0.18rem;
}
.container .swiper-container .swiper-slide h2 {
  color: #127A6E;
  position: absolute;
  right: .4rem;
  top: 4.6rem;
  font-size: .5rem;
  z-index: 2;
}
.container .swiper-container .swiper-slide h2.animate {
  animation: 2s ease .5s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide .bg_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide .bg_img.animate {
  animation: 1s ease 0s 1 normal both running fadeInUp;
}
.container .swiper-container .swiper-slide .bg_img img {
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 {
  background: #127a6e;
}
.container .swiper-container .swiper-slide.slide2 .listText {
  position: absolute;
  z-index: 5;
  width: 0.63rem;
  height: 1.84rem;
  line-height: 1rem;
  top: 5rem;
  left: .5rem;
  font-size: 1rem;
  color: #09562f;
}
.container .swiper-container .swiper-slide.slide2 .listText.animate {
  animation: 1s ease 1s 1 normal both running puffIn;
}
.container .swiper-container .swiper-slide.slide2 .listBg {
  position: absolute;
  z-index: 2;
  top: -160px;
  left: -878px;
  width: 994.5px;
  height: 994.5px;
}
.container .swiper-container .swiper-slide.slide2 .listBg.animate {
  animation: 1.5s ease 0s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide2 .listBg img {
  display: block;
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 .bg2 {
  position: absolute;
  left: -0.1rem;
  top: 0;
  z-index: 2;
  opacity: 0.64;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 .bg2 img {
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 .line2 {
  position: absolute;
  z-index: 2;
  width: 1031px;
  height: 1031px;
  top: -182px;
  left: -878.5px;
}
.container .swiper-container .swiper-slide.slide2 .line2.animate {
  animation: 1.5s ease 0s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide2 .line2 img {
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 .item {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 50px;
}
.container .swiper-container .swiper-slide.slide2 .item img {
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide2 .item1 {
  top: 510px;
  left: 92px;
}
.container .swiper-container .swiper-slide.slide2 .item1.animate {
  animation: 2s ease 2.3s 1 normal both running bounceIn;
}
.container .swiper-container .swiper-slide.slide2 .item2 {
  top: 405px;
  left: 120px;
}
.container .swiper-container .swiper-slide.slide2 .item2.animate {
  animation: 2s ease 2.1s 1 normal both running bounceIn;
}
.container .swiper-container .swiper-slide.slide2 .item3 {
  top: 290px;
  left: 127.5px;
}
.container .swiper-container .swiper-slide.slide2 .item3.animate {
  animation: 2s ease 1.9s 1 normal both running bounceIn;
}
.container .swiper-container .swiper-slide.slide2 .item4 {
  left: 110px;
  top: 180px;
}
.container .swiper-container .swiper-slide.slide2 .item4.animate {
  animation: 2s ease 1.7s 1 normal both running bounceIn;
}
.container .swiper-container .swiper-slide.slide2 .item5 {
  top: 85px;
  left: 80px;
}
.container .swiper-container .swiper-slide.slide2 .item5.animate {
  animation: 2s ease 1.5s 1 normal both running bounceIn;
}
.container .swiper-container .swiper-slide.slide2 .itemText {
  position: absolute;
  z-index: 10;
  font-size: .29rem;
  color: #fff;
}
.container .swiper-container .swiper-slide.slide2 .itemText span {
  display: block;
  width: 3rem;
  line-height: .5rem;
}
.container .swiper-container .swiper-slide.slide2 .itemText1 {
  top: 510px;
  left: 160px;
}
.container .swiper-container .swiper-slide.slide2 .itemText1.animate {
  animation: 1s ease 2.3s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide.slide2 .itemText2 {
  top: 402.5px;
  left: 180px;
}
.container .swiper-container .swiper-slide.slide2 .itemText2.animate {
  animation: 1s ease 2.1s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide.slide2 .itemText3 {
  top: 290px;
  left: 179px;
}
.container .swiper-container .swiper-slide.slide2 .itemText3.animate {
  animation: 1s ease 1.9s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide.slide2 .itemText4 {
  top: 180px;
  left: 160px;
}
.container .swiper-container .swiper-slide.slide2 .itemText4.animate {
  animation: 1s ease 1.7s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide.slide2 .itemText5 {
  top: 84px;
  left: 140px;
}
.container .swiper-container .swiper-slide.slide2 .itemText5.animate {
  animation: 1s ease 1.5s 1 normal both running fadeInRight;
}
.container .swiper-container .swiper-slide.slide3 {
  background: #fff;
}
.container .swiper-container .swiper-slide.slide3 .part {
  position: absolute;
  z-index: 15;
  width: 4.46rem;
  height: .84rem;
  left: -1.5rem;
}
.container .swiper-container .swiper-slide.slide3 .part img {
  width: 100%;
  height: 100%;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(1) {
  top: 1.5rem;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(1).animate {
  animation: 1s ease 1s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(2) {
  top: 5.8rem;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(2).animate {
  animation: 1s ease 2s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(3) {
  top: 7.9rem;
}
.container .swiper-container .swiper-slide.slide3 .part:nth-child(3).animate {
  animation: 1s ease 3s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part_tit {
  position: absolute;
  z-index: 15;
  width: 4.46rem;
  height: .84rem;
  left: .7rem;
  color: #fff;
  font-size: .44rem;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(4) {
  top: 1.85rem;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(4).animate {
  animation: 1s ease 1s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(5) {
  top: 6.15rem;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(5).animate {
  animation: 1s ease 2s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(6) {
  top: 8.25rem;
}
.container .swiper-container .swiper-slide.slide3 .part_tit:nth-child(6).animate {
  animation: 1s ease 3s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide.slide3 .part_cont {
  width: 100%;
  position: absolute;
  z-index: 17;
  left: .7rem;
  font-size: .3rem;
  color: #000;
}
.container .swiper-container .swiper-slide.slide3 .part_cont div.icon {
  width: 28%;
  box-sizing: border-box;
  margin-left: .3rem;
}
.container .swiper-container .swiper-slide.slide3 .part_cont div.icon.animate {
  animation: 1s ease 1.5s 1 normal both running twisterInUpRight;
}
.container .swiper-container .swiper-slide.slide3 .part_cont div.icon img {
  width: 100%;
}
.container .swiper-container .swiper-slide.slide3 .part_cont ul.animate {
  animation: 1s ease 1.5s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part_cont ul li {
  line-height: .5rem;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(7) {
  top: 2.85rem;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(7).animate {
  animation: 1s ease 1.5s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(8) {
  top: 7.15rem;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(8).animate {
  animation: 1s ease 2.5s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(9) {
  top: 9.25rem;
}
.container .swiper-container .swiper-slide.slide3 .part_cont:nth-child(9).animate {
  animation: 1s ease 3.5s 1 normal both running fadeInLeft;
}
.container .swiper-container .swiper-slide.slide3 .bord {
  position: absolute;
  z-index: 13;
  width: 88%;
  height: 82%;
  top: 9%;
  left: 6%;
}
.container .swiper-container .swiper-slide.slide3 .bord.animate {
  animation: 1s ease 2s 1 normal both running zoomIn;
}
.container .swiper-container .swiper-slide.slide3 .bord img {
  width: 100%;
}
.container .swiper-container .swiper-slide.slide3 .bg2 {
  position: absolute;
  z-index: 13;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.container .swiper-container .swiper-slide.slide3 .bg2.animate {
  animation: 1s ease 0s 1 normal both running fadeInUp;
}
.container .swiper-container .swiper-slide.slide3 .bg2 img {
  width: 102%;
  left: 5%;
}
.container .swiper-container .swiper-slide.slide3 .light2 {
  position: absolute;
  z-index: 25;
  width: 1.2rem;
  height: 3.2rem;
  top: -0.66rem;
  left: 4.8rem;
}
.container .swiper-container .swiper-slide.slide3 .light2.animate {
  animation: 1s ease 0s 1 normal both running fadeInDown;
}
.container .swiper-container .swiper-slide.slide3 .light2 img {
  height: 100%;
}
@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes start {
  0%,
  30% {
    opacity: 0;
    transform: translateY(0.1rem);
  }
  60% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateY(-0.08rem);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes twisterInUpRight {
  0% {
    opacity: 0;
    transform-origin: center center;
    transform: scale(1) translateX(-100%) rotate(-1turn);
  }
  to {
    opacity: 1;
    transform-origin: center center;
    transform: scale(1) translateX(0) rotate(0deg);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2);
  }
  to {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
